@import "/styles/variables.less";


body {
  font-family: @altFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
}

h1 {
  font-family: @baseFontFamily;
  font-weight: normal;
  font-size: 1.7em;
  @media @mobile {}
}

h2 {
  font-family: @baseFontFamily;
  font-size: 1.4em;
  @media @mobile {}
}

h3 {
  font-family: @baseFontFamily;
  font-size: 1.2em;
  margin-bottom: 0.6em;
  @media @mobile {}
}

a {
  .font-color(@lightBlue, @blue);
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

code {
  background: #d8d8d8;
  border: 1px solid #C0C0C0;
  border-radius: 4px;
  font-family: monospace;
}

pre code {
  border: none;
  border-radius: 0px;
  font-family: monospace, serif;
}
