// 
// Structure
// --------------------------------------------

@import "/styles/mixins.less";




//
// -----------------------------------------------------------------------
//
// Layout
//
// -----------------------------------------------------------------------
//


html { height: 100%; }

body {
  background: @bodyBackgroundColor;
  height: 100%;

  > div.nav {
    .dimensions(100%, 100%);
    .font-color(white);
    .transition(width 0.5s);
    background: @purple;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 100;

    @media @mobile {
      .dimensions(100%, auto);
      position: relative;
    }

    @media @smallHeight {
      .border-radius(0 0 10px 0);
      .dimensions(100%, auto);
      position: relative;
      float: left;
    }

    > div {
      height: 100%;
      margin: 0 auto;
      max-width: @contentWidth;
      overflow: hidden;
      padding: 0 20px; 
      position: relative;
      text-align: left;

      @media @smallHeight {
        overflow: auto;
        height: auto;
      }

      > a.logo {
        .dimensions(85px, 85px);
        .transition(all 0.5s);
        display: block;
        float: right;
        margin: 110px 50px 0 0;
        @media @mobile {
          margin: 40px 0 0 0;
        }
      }
      > h1 { 
        .transition(all 0.5s);
        margin: 130px 0 90px 0; 
        line-height: 1.2;
        @media @mobile { 
          font-size: 2.2em; 
        }
      }
      > p { 
        .font-color(rgba(255, 255, 255, 0.5)); 
      }
      > div.contact-info {
        .font-color(rgba(255, 255, 255, 0.5));
        .transition(all 0.5s);
        bottom: 0;
        font-size: 0.7em;
        left: 20px;
        max-width: @contentWidth;
        position: absolute;

        @media @mobile {
          position: static;
          margin: 60px 0 20px;
          > span.prop { display: none; }
        }

        @media @smallHeight {
          position: static;
          margin: 40px 0 100px;
        }

        > ul.social-links {
          margin: 0;
          padding: 0;
          list-style: none;
          > li {
            position: relative;
            float: left;
            margin: 0 0.5em 0 0;
            > span.tooltip {
              .border-radius(3px 3px 3px 0px);
              .font-color(@purple);
              .transition(all 0.3s);
              background: @lightBlue;
              cursor: default;
              font-family: @baseFontFamily;
              font-size: 0.8em;
              left: 0.5em;
              opacity: 0;
              padding: 0.1em 0.8em 0.14em;
              position: absolute;
              top: -2.3em;
              white-space: nowrap;
              &::after {
                .dimensions(0, 0);
                @triangleSize: 0.5em;
                border-bottom: @triangleSize solid transparent;
                border-left: @triangleSize solid @lightBlue;
                border-right: @triangleSize solid transparent;
                border-top: @triangleSize solid @lightBlue;
                bottom: -@triangleSize;
                content: '';
                left: 0;
                position: absolute;
              }
            }
            > a {
              display: inline-block;
              line-height: 0;
            }
            > a.speaker-deck { .speaker-deck-icon(@purple); }
            &:hover {
              > span.tooltip {
                opacity: 1;
                &:hover { opacity: 0; }
              }
            }
          }
        }
      } 
    }

    &.collapsed {
      @media @laptop, @tablet {
        width: 25%;
        min-width: 260px;
        > div { 
          font-size: 0.7em; 
          > a.logo { margin: 30px 0 0 0; }
          > h1 { margin: 130px 0 50px 0; }
          > div.contact-info { 
            font-size: 1em; 
            > span.prop { display: none; }
          }
        }
      }
    }
  }

  > div.content {
    .dimensions(auto, auto);
    .transition(all 0.3s);
    margin: 0 0 0 25%;
    position: relative;

    @media @mobile { margin: 0; }

    > button.close {
      .font-color(@black, @gray);
      .transition(all 0.3s);
      font-family: @baseFontFamily;
      font-size: 70px;
      line-height: 70px;
      padding: 0 20px;
      position: fixed;
      right: 20px;
      top: 20px;

      @media @mobile { display: none; }
    }
  }
}




//
// -----------------------------------------------------------------------
//
// Skill Page
//
// -----------------------------------------------------------------------
//


.coder {

  .page();

  > blockquote {
    .reference-quote();
  }
}




//
// -----------------------------------------------------------------------
//
// Speaker Page
//
// -----------------------------------------------------------------------
//


.speaker {

  .page();

  > div.image {
    .border-radius(4px);
    overflow: hidden; 
    @media @mobile {
      .border-radius(0);
      margin: 0 -20px;
    }
    > img.wide {
      .dimensions(100%, auto);
      display: block;
      @media @mobile {
        .dimensions(170%, auto);
      }
    }
  }

  > h2 {
    margin-top: 60px;
  }

  > blockquote {
    .reference-quote-short();
  }

}




//
// -----------------------------------------------------------------------
//
// About Page
//
// -----------------------------------------------------------------------
//


.about {

  .page();

  > img {
    @imgSize: 300px;
    .dimensions(@imgSize, @imgSize);
    .border-radius(@imgSize);
    margin: -40px -20px 20px 20px;
    float: right;
    @media @mobile {
      .dimensions(100%, auto);
      .border-radius(100%);
      margin: -20px 0 0 0;
      float: none;
    }
  }

  > ul.mini-cv {
    list-style: none;
    margin: 50px 0;
    padding: 0 0 0 70px;
    @media @mobile { padding: 0 0 0 20px; }
    > li {
      border-left: 8px solid @green;
      padding: 0 0 40px 30px;
      position: relative;

      &::before {
        @circleSize: 30px;
        .dimensions(@circleSize, @circleSize);
        .border-radius(@circleSize);
        content: '';
        display: block;
        position: absolute;
        border: 8px solid @green;
        background: @bodyBackgroundColor;
        left: -27px;
        top: -5px;
      }
    }
  }

  > ul.social-links {
    margin: 0;
    padding: 0 0 0 60px;
    font-size: 1.3em;
    list-style: none;
    @media @mobile { padding: 0 0 0 20px; }
    > li {
      padding: 0 0 0.3em;
      > a {
        display: inline-block;
        font-family: @baseFontFamily;
        font-weight: normal;
        padding: 0 0 0 2em;
        position: relative;
        > span {
          display: block;
          font-family: @altFontFamily;
          font-size: 1.3em;
          left: 0px;
          line-height: 0;
          position: absolute;
          top: 0px;
          &.speaker-deck { 
            .speaker-deck-icon-large(@bodyBackgroundColor); 
            position: absolute;
          }
        }
      }
    }
  }

}


//
// -----------------------------------------------------------------------
//
// Blog Page
//
// -----------------------------------------------------------------------
//


.blog {

  .page();

  > article {
    margin: 0 0 3em;

    > header { .blog-header(); }
    > section {
      > p { margin: 0.5em 0; }
    }
  }

}




//
// -----------------------------------------------------------------------
//
// Blog Post Page
//
// -----------------------------------------------------------------------
//


.blog-post {

  .page();

  > h1 {
    > a { font-weight: normal; }
  }

  > article {
    > header { .blog-post-header(); }
    > section {
      > blockquote {
        .blog-quote();
      }
      > img {
        .border-radius(4px);
        max-width: 100%;

        &.border {
          border: 1px solid @grayLight;
          padding: 5px;
        }
        &.right { float: right; }
        &.left { float: left; }
      }
      > pre {
        .border-radius(4px);
        font-size: 0.8em;
        padding: 1.5em 2.5em 1.7em;
        @media @mobile { 
          .border-radius(0);
          margin: 0 -20px;
          padding: 1.2em 20px 1.5em; 
        }
      }
    }
  }

}




//
// -----------------------------------------------------------------------
//
// Temporary page toggling
//
// -----------------------------------------------------------------------
//
// .coder      { display: none; }
.speaker    { display: none; }
.about      { display: none; }
.blog       { display: none; }
.blog-post  { display: none; }

