// Colors
// -------------------------
@black:         #000;
@grayDarker:    #222;
@grayDark:      #333;
@gray:          #555;
@grayLight:     #999;
@grayLighter:   #eee;
@white:         #fff;

@purple:        #4f0076;
@blue:          #50B8C7;
@lightBlue:     #B6F6FF;
@green:         #4AC76B;
@lightGreen:    #B6FFC9;

// Layout variables
// -------------------------
@bodyBackgroundColor: #f2f2f2;
@contentWidth: 750px;
@navWidth: 25%;
@navMinWidth: 260px;

// Type
// -------------------------
@baseFontFamily:        "Rambla", Helvetica, Arial, sans-serif;
@altFontFamily:         "adobe-caslon-pro", Georgia, "Times New Roman", Times, serif;
@baseFontSize:          180%;
@baseLineHeight:        1.5;

// Media Queries
// -------------------------
@laptop:        ~"only screen and (min-width: 761px)";
@mobile:        ~"only screen and (max-width: 760px)";
@smallMobile:   ~"(max-width: 530px)";
@smallHeight:   ~"only screen and (min-width: 761px) and (max-height: 595px)";

// Other
// -------------------------
@pageTransitionTime: 0.5s;
